<!--The content below is only a placeholder and can be replaced.-->

<div class="container-fluid"></div>
<h2>Registration Form</h2>
<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label>Username</label>
    <input [class.is-invalid]="username.invalid && username.touched"
      formControlName="username" type="text" class="form-control">
    <div *ngIf="username.invalid && username.touched">
      <small *ngIf="username.errors?.required" class="text-danger">Username is required</small>
      <small *ngIf="username.errors?.minlength" class="text-danger">Username should be more than
        3 characters</small>
    </div>

  </div>

  <div class="form-group">
    <label>Password</label>
    <input formControlName="password" type="text" class="form-control">
  </div>

  <div class="form-group">
    <label>Confirm Password</label>
    <input formControlName="confirmPassword" type="text" class="form-control">
  </div>

  <button [disabled]="!registrationForm.valid" class="btn btn-primary" type="submit">Register</button>


  <div formGroupName="address">
    <div class="form-group">
      <label>Street</label>
      <input formControlName="street" class="form-control">
    </div>

    <div class="form-group">
      <label>City</label>
      <input formControlName="city" class="form-control">
    </div>

    <div class="form-group">
      <label>Country</label>
      <input formControlName="country" class="form-control">
    </div>
  </div>

  <button (click)="loadApiData()" class="btn btn-secondary ml-2">Load API Data</button>
</form>
{{registrationForm.value | json}}
<router-outlet></router-outlet>